/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.skills-card {
  box-shadow: 0px 8px 16px -8px rgba(50, 50, 93, 0.25),
    0px 16px 32px -16px rgba(0, 0, 0, 0.3),
    0px -2px 6px 0px rgba(10, 37, 64, 0.35) inset,
    0px -2px 8px 0px rgba(255, 255, 255, 0.5) inset;
}
